body {
	background-color: rgb(242,241,241);
	color: rgb(40,40,40);
	margin: 0;
}

a:link {
	color: rgb(210,140,110);
	text-decoration: none;
}

a:visited {
	color: rgb(190,120,90);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: rgb(120,50,20);
}

header {
	font-family: Montserrat, Gotham, "Helvetica Neue", sans-serif;
	margin: 150px auto 60px auto;
	text-align: center;
	max-width: 440px;
}

#header-box {
	border: 7px solid rgb(40,40,40);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	max-width: 90%;
}

#header-box a:link {
	color: rgb(40,40,40);
}

#header-box a:visited {
	color: rgb(40,40,40);	
}

#header-box a:hover {
	color: rgb(70,70,70);
	text-decoration: none;
}

#header-box a:active{
	color: rgb(40,40,40);
}

header h1 {
	font-size: 3rem;
	letter-spacing: 0.3rem;
	margin-bottom: 0px;
}

header h2 {
	font-size: 1rem;
	letter-spacing: 0.2rem;
}

header h3 {
	color: rgb(100,100,100);
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 1rem;
	line-height: 1.6rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	max-width: 95%;
}

header h3 a:visited {
	color: rgb(210,140,110);
	text-decoration: none;
}

h1#project-heading {
	border-bottom: 1px solid rgb(200,200,200);
	border-top: 1px solid rgb(200,200,200);
	font-family: "Gentium Book Basic", Georgia, serif;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	max-width: 420px;
}

.project {
	border-bottom: 1px solid rgb(200,200,200);
	margin: 0px auto 30px auto;
	max-width: 480px;
	padding-bottom: 30px;
	padding-top: 10px;
	text-align: center;
}

.project img {
	height: 594px;
	max-width: 396px;
}

.project h3 {
	font-family: Montserrat, Gotham, "Helvetica Neue", sans-serif;
	font-size: 1.15rem;
	letter-spacing: 0.1rem;
	margin-bottom: 40px;
}

.project h3 a:visited {
	color: rgb(210,140,110);
}

.project h3 a:hover {
	color: rgb(220,150,120);
	text-decoration: none;
}

.project p:nth-child(3) {
	color: rgb(100,100,100);
	font-family: "Gentium Book Basic", Georgia, serif;
	letter-spacing: 0rem;
	line-height: 1.6rem;
	padding-left: 50px;
	padding-right: 50px;
	text-align: left;
}

.resume-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 530px;
}

.resume-content h1 {
	border-bottom: 1px solid rgb(200,200,200);
	font-family: Montserrat, Gotham, "Helvetica Neue", sans-serif;
	font-size: 1.7rem;
	margin-top: 50px;
	padding-bottom: 15px;
	text-align: center;
}

.resume-content ul {
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 1rem;	
	list-style-type: none;
	margin-left: -20px;
}

.resume-content li {
	font-weight: bold;
	margin-bottom: 20px;
}

#research li {
	font-weight: normal;
	font-style: italic;
}

.resume-description {
	display: block;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5rem;
	margin-left: 40px;
	margin-top: 7px;
}

@media print {
	header {
		margin-bottom: 0px;
		margin-top: 0px;
	}

	#header-box {
		border: 0;
	}

	.resume-content {
		width: 100%;
	}

	.resume-content h1 {
		font-size: 1.3rem;
	}

	.resume-description {
		line-height: 1.2rem;
	}
}

@media screen and (max-width: 480px) {
	header {
		max-width: 440px;
		width: 100%;
	}

	#header-box {
		width: 90%;
	}

	header h3 {
		width: 95%;
	}

	h1#project-heading {
		background-color: rgb(160,55,55);
		border-bottom: 2px solid rgb(200,200,200);
		border-top: 0;
		color: rgb(242,241,241);
		max-width: 420px;
		width: 100%;
	}

	.project {
		max-width: 480px;
		width: 100%;
	}

	.project h3 {
		font-size: 1.4rem;
		letter-spacing: 0rem;
		line-height: 2.3rem;
		margin-bottom: 20px;
	}

	.project img {
		height: 90%;
		max-width: 396px;
		width: 90%;
	}

	.project p:nth-child(3) {
		text-align: left;
		padding-left: 30px;
		padding-right: 20px;
	}

	.resume-content {
		max-width: 390px;
		width: 100%;
	}

	.resume-content h1 {
		background-color: rgb(160,55,55);
		border-bottom: 2px solid rgb(200,200,200);
		border-top: 0;
		color: rgb(242,241,241);
		margin-bottom: 30px;
		padding-top: 15px;
	}

	.resume-content li {
		margin-right: 20px;
	}

	.resume-description {
		margin-left: 20px;
}
}