html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fcfcfc;
	font-family: "Cabin", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #666;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3 {
	color: #555;
	margin-top: 0;
}

h1 {
	font-size: 64px;
	line-height: 85px;
}

h2 {
	font-size: 48px;
	line-height: 65px;
}

h3 {
	font-size: 36px;
	line-height: 50px;
}

p {
	font-size: 28px;
	line-height: 46px;
	margin-top: 0;
}

.strike {
	font-weight: normal;
	text-decoration: line-through;
}

.content ol, .content ul {
	font-size: 24px;
	line-height: 40px;
	margin-left: 40px;
}

.content li {
	margin-bottom: 10px;
}

a:link {
	color: #CA403A;
	text-decoration: none;
}

a:visited {
	/*color: #8E3330;*/
	color: #CA403A;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid #FC514A;
	color: #FC514A;
	padding-bottom: 2px;
}

a:active {
	position: relative;
	top: 1px;
}

/*
HEADER
*/

.header {
	/*height: 32px;*/
	padding-top: 14px;
	padding-bottom: 14px;
	width: 100%;
	border-bottom: 1px solid #efefef;
}

h1.name {
	font-size: 20px;
	line-height: 32px;
	margin: 0;
	float: left;
}

h1.name a {
	color: #777;
	text-decoration: none;
	padding: 6px 10px;
	border-radius: 4px;
	margin-left: -10px;
}

ul.header-links {
	list-style-type: none;
	float: right;
	margin: 0;
}

ul.header-links li {
	float: left;
	margin-right: 30px;
}

ul.header-links li a {
	line-height: 32px;
	padding: 6px 10px;
  	border-radius: 4px;
  	margin-left: -10px;
  	color: #999;
}

h1.name a:hover,
ul.header-links li a:hover {
	color: #555;
	background-color: #efefef;
}

/*
HOME
*/

.home h1, .home h2 {
	text-align: center;
}

.home h1 {
	margin-top: 150px;
}

ul#social {
	list-style-type: none;
	margin: 100px 0 30px 0;
	padding: 0;
	text-align: center;
}

ul#social li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

ul#social li a:hover {
	border: 0;
}

/*
PORTFOLIO
*/

.content-portfolio {
	margin: 0 auto;
	width: 1100px;
}

.content-portfolio h2 {
	font-size: 30px;
	margin-bottom: 0;
	text-align: center;
}

.content-portfolio h2 a:hover {
	border: 0;
}

.line {
	height: 10px;
	width: 100%;
	border-top: 3px solid #B8726F;
	margin-bottom: 0;
	margin-top: 15px;
}

.soon .line {
	border-top: 3px solid #615F5E;
}

.portfolio {
	float: left;
	width: 45%;
	margin: 80px 2.5%;
}

.portfolio-image {
	height: 350px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: -10px;
}

/*.portfolio h2:hover {
	background-color: rgba(80,80,80,0.85);
	border-radius: 4px;
	clear: left;
	color: #444;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}*/

.portfolio-image p {
	color: #444;
	font-style: italic;
	position: relative;
	top: 150px;
	text-align: center;
}

.portfolio-onboarding {
	background-image: url('projects/clementine-onboarding/onboarding-portfolio.png');
}


.portfolio-iconography {
	background-image: url('projects/clementine-iconography/iconography.png');
}

.portfolio-conferences {
	/*background-image: url('projects/clementine-conferences/conferences-sketch.JPG');*/
	background-color: #F27D65;
}

.portfolio-desktop {
	/*background-image: url('projects/clementine-desktop/desktop-sketch.JPG');*/
	background-color: #F27D65;
}

.portfolio-water {
	background-color: #86B2E6;
}

/*
RESUME
*/

.resume h3 {
	margin-top: 80px;
}

.resume ul {
	list-style-type: none;
	margin-left: 0;
}

.resume li {
	margin-bottom: 30px;
}

.resume-description {
	display: block;
	margin-left: 80px;
}

/*
WORK
*/

.section {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.section:nth-child(even) {
	background-color: #f6f6f6;
}

.section.image-background {
	min-height: 720px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
}

.section.image-background .container {
	padding: 24px 30px 30px 30px;
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	right: 30px;
	bottom: 30px;
	max-width: 480px;
}

.section.image-background .container h2 {
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	margin-bottom: 10px;
}

.section.image-background .container p, .section.image-background .container li {
	font-size: 16px;
	line-height: 26px;
	color: #bbb;
}

.section.image-background .container li {
	margin-bottom: 10px;
}

.section.image-background .container ul {
	margin-bottom: 0;
	margin-left: 0px;
}

.section.image-background.clementine-sketch {
	background-image: url('projects/clementine-onboarding/onboarding-sketch.JPG');
}

.section.image-background.conferences-sketch {
	background-image: url('projects/clementine-conferences/conferences-sketch.JPG');
}

.section.image-background.conferences-testing {
	background-image: url('projects/clementine-conferences/user-testing.png');
}

.section.image-background.desktop-sketch {
	background-image: url('projects/clementine-desktop/desktop-sketch.JPG');
}

.section.image-background.desktop-content {
	background-image: url('projects/clementine-desktop/desktop-content.JPG');
}

.section.image-background.desktop-feedback {
	background-image: url('projects/clementine-desktop/desktop-whiteboard.JPG');
}

.section.image-background.iconography-sketch {
	background-image: url('projects/clementine-iconography/iconography-sketch.JPG');
}

.section.image-background.iconography-final {
	background-image: url('projects/clementine-iconography/iconography.png');
}

.section.image-background.water-sketch {
	background-image: url('projects/water/water-sketch.JPG');
}

p.pimage {
	text-align: center;
}

/* Decrease width */
.container {
	max-width: 900px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.title h1 {
	letter-spacing: 1.3px;
	text-align: center;
	margin-top: 210px;
	margin-bottom: 200px;
}

/*.clementine p:first-of-type {
	color: #585555;
	font-size: 20px;
	line-height: 36px;
	margin-bottom: 250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 560px;
} */

.phone {
	background-image: url("projects/logos/phone-frame.png");
	height: 628px;
	width: 318px;
	margin-bottom: 200px;
	margin-top: -100px;
	margin-left: auto;
	margin-right: auto;
}

.phone img {
	display: block;
	position: relative;
	top: 81px;
	left: 31px;
}

ul.logos {
	list-style-type: none;
	margin: 0 -15px 0 -15px;
	padding-left: 0;
}

ul.logos li {
	float: left;
	margin: 0 15px 0 15px;
	position: relative;
	width: 125px;
}

ul.logos li img {
	width: 125px;
	height: 125px;
}

ul.logos li::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 127px;
	height: 127px;
	background: url('projects/logos/mask175_2x.png') 0 0 no-repeat;
	background-size: 125px 125px;
}

ul.logos-dark li::after {
	background-color:;
}

.caption {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	margin-bottom: 22px;
}

ul.logos li .caption {
	text-align: center;
	max-width: 125px;
}

/*
PROJECT-SPECIFIC
*/

.clementine {
	background-color: #F27D65;
}

.clementine h1 {
	color: #fff;
}

.water {
	background-color: #86B2E6;
}

.water h1 {
	color: #355271;
}

/*
MEDIA QUERIES
*/

@media print {
	ul.header-links {
		display: none;
	}

	.resume h3 {
		font-size: 1.5em;
		line-height: 1em;
		margin-top: 30px;
	}

	.resume li {
		font-size: 0.6em;
		line-height: 1.5em;
		margin-bottom: 20px;
	}

	.resume-description {
		margin-left: 20px;
	}
}

@media screen and (max-width: 1100px) {
	.content-portfolio {
		float: left;
		width: 95%;
	}

	.portfolio {
		width: 100%;
	}

	p.pimage img {
		width: 95%;
	}

	.section h1 {
		font-size: 3em;
		margin-bottom: 60px;
		margin-top: 40px;
	}

	.section h2 {
		font-size: 2.3em;
		text-align: center;
	}

	.section p {
		font-size: 1.3em;
		line-height: 1.9em;
	}

	.section ol, .section ul {
		font-size: 1.3em;
		line-height: 1.8em;
		margin-left: 0;
	}

	.phone {
		margin-top: 0;
	}

/*.section.image-background .container {
	padding: 24px 30px 30px 30px;
	background-color: rgba(0, 0, 0, 0.85);
	position: relative;
	max-width: 480px;
}*/
}

@media screen and (max-width: 700px) {
	.home h1 {
		font-size: 3em;
		line-height: 1.5em;
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 70px;
	}

	.home h2 {
		font-size: 2em;
		line-height: 1em;
		margin-top: 60px;
	}

	ul#social li {
		margin-left: 20px;
		margin-right: 20px;
	}

	/*RESUME*/

	.resume h3 {
		border-bottom: 3px solid #555;
		font-size: 1.8em;
		line-height: 2em;
		margin-top: 30px;
		padding-bottom: 10px;
		text-align: center;
	}

	.resume li {
		font-size: 0.9em;
		line-height: 1.8em;
		margin-top: 40px;
		margin-bottom: 80px;
		margin-left: -40px;
		text-align: center;
	}

	.resume-description {
		font-size: 0.85em;
		line-height: 1.7em;
		margin: 20px auto 0 auto;
		text-align: left;
		width: 95%;
	}
}

@media screen and (max-width: 500px) {
	h1.name {
		float: none;
		margin: 0 auto;
		text-align: center;
		/*width: 80px;*/
		/*border: 1px solid black;*/
	}

	h1.name a {
		margin: 0;
	}

	ul.header-links {
		float: none;
		margin: 0 auto 20px auto;
		height: 10px;
		padding: 0;
		text-align: center;
	}

	ul.header-links li {
		display: inline-block;
		float: none;
		margin-left: 5px;
		margin-right: 5px;
	}

	/* PORTFOLIO */

	.portfolio {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.portfolio h2 {
		font-size: 1.5em;
	}

	.line {
		margin-top: 0px;
	}

	/* PROJECTS */

	.phone {
		background: none;
		border: 3px solid white;
		border-radius: 45px;
		height: 570px;
		width: 280px;
		margin: 0 auto 100px auto;
	}

	.phone img {
		border: 2px solid #444;
		border-radius: 3px;
		margin: 70px auto 0 auto;
		position: inherit;
		width: 230px;
	}

}