
* {
	font-family: "Karla", "Helvetica Neue", sans-serif;
	line-height: 1.6;
	color: rgba(0,0,0,0.9);
}

body {
	background-color: #FEFEFE;
}

img, .menlo {
	font-family: "Menlo", monospace;
	color: lightgray;
}

ul {
	list-style-type: circle;
}

a {
	text-decoration: none;
}

a:link {
	/*color: rgba(108,0,69,1);*/
	color: #9B0063;
	border-bottom: 2px rgba(108,0,69,0.2) solid;
    -webkit-transition: border-color 0.1s; /* Safari */
    transition: border-color 0.1s;
}

a:visited {
	color: rgba(108,0,69,1);
}

a:hover {
	border-bottom: 2px rgba(108,0,69,0.7) solid;
    -webkit-transition: border-color 0.15s; /* Safari */
    transition: border-color 0.15s;
}

a:active {
	position: relative;
	top: 1px;
}

:focus {
	background-color: #FBE37F;
	padding: 1px;
	outline: none;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}



/*************
	Tachyons
**************/

.f1,
.f2,
.f3 {
	font-family: "Playfair Display", "Menlo", sans-serif;
	font-weight: 900;
	line-height: 1.4;
}

.bb {
	border-color: rgba(108,0,69,0.2);
}



/*************
	Custom classes
**************/

.caption {
	color: rgba(0,0,0,0.5);
}

.hcolor {
	color: #0CAC40;
}