/*

COLORS

Text: #3C3C3C
Gray Text: #B1B0B0
Gray Text on Gray: #999
Link: #F19650
Hover: #EFAB76
Box Gray: #EEE
Box Gray Hover: #F2F2F2

*/


html, body {
	color: #3C3C3C;
	background-color: #fcfcfc;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 400;
	font-family: "Work Sans", "Helvetica Neue", Arial, sans-serif;
}

h2, h3 {
	font-weight: 300;
}

h3 {
	font-family: "Work Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #F19650;
}

a:hover {
	color: #EFAB76;
	-webkit-transition: color 0.1s ease;
	-moz-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}

.em-grey_question, .em-exclamation {
	display: inline-block;
	margin-top: -6px;
}

.image-shadow img {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(177,176,176,0.7);
	-moz-box-shadow: 0px 0px 5px 0px rgba(177,176,176,0.7);
	box-shadow: 0px 0px 5px 0px rgba(177,176,176,0.7);
}


/*
***********************
	 HEADER
***********************
*/

#header {
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 1050px;
}

#header h1, #header h2 {
	float: left;
	margin-left: 30px;
}

#header h1 {
	font-size: 24px;
	letter-spacing: 1px;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

#header h2 {
	clear: left;
	color: #B1B0B0;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: -6px;
}

#header h2.about {
	float: right;
	font-weight: 400;
	margin-right: 30px;
	margin-top: -31px;
}


/*
***********************
	 MAIN
***********************
*/

#main {
	margin-top: 80px;
}

.main-work, .case-study__nav {
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
}

.box-work {
	float: left;
	margin: 0 25px 30px 25px;
	height: 350px;
	width: 300px;
}

.box-work__image {
	background-color: #EEE;
	background-position: center 25px;
	background-repeat: no-repeat;
	border-radius: 3px;
	overflow: hidden;
	text-align: center;
	height: 250px;
	width: 300px;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

.box-work__image img {
	margin-top: 25px;
}

.long, .long .box-work__image {
	width: 650px;
}

.box-work h2 {
	font-size: 16px;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 23px;
	-webkit-transition: color 0.1s ease;
	-moz-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}

.box-work h3 {
	color: #B1B0B0;
	font-size: 16px;
	margin-left: 5px;
	margin-top: -7px;
}

/*
***********************
	 WORK
***********************
*/

.box-work--mobile img {
	margin-top: 8px;
}

.box-work--icons img {
	margin-top: 43px;
}


/*
***********************
	 FOOTER
***********************
*/

#footer {
	background-color: #EEE;
	float: left;
	height: 150px;
	margin-top: 70px;
	width: 100%;
	text-align: center;
}

.social {
	margin-top: 50px;
}

.social h3 {
	color: #999;
	font-family: "Work Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.social ul {
	list-style-type: none;
	padding: 0;
}

.social li {
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px;
	-webkit-transition: color 0.1s ease;
	-moz-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}



/*
***********************
	 CASE STUDIES
***********************
*/

.case-study {
	padding-top: 20px;
}

.case-study h1 {
	font-size: 30px;
}

.case-study h2 {
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 400;
	color: #B1B0B0;
}

.case-study p, .case-study ul, .case-study ol, .intro__text p {
	font-size: 16px;
	line-height: 1.9;
}

.case-study__image {
	clear: left;
	margin: 50px 0 50px 0;
	text-align: center;
}

.case-study__image img {
	margin-left: 5px;
	margin-right: 5px;
}

.case-study__intro, .section__content {
	width: 1050px;
}

.section__content {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	padding-top: 100px;
}

.case-study__intro {
	margin: -50px auto 0px auto;
}

.case-study__intro > *, .section__content > * {
	margin-left: 30px;
}

.case-study__intro::after, .section__content::after, .intro__text::after, .section::after {
    content: "";
    display: block;
    clear: both;
}

.intro__text h1 {
	margin-bottom: 50px;
}

.intro__text .right {
	text-align: left;
}

.section:nth-child(odd) {
	width: 100%;
	background: #EEE;
	background: -webkit-linear-gradient(left, #EEE, #DDD); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #EEE, #DDD); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #EEE, #DDD); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #EEE, #DDD); /* Standard syntax */
}

.left, .right {
	float: left;
}

.left {
	width: 45%;
}

.right {
	margin-left: 6%;
	text-align: center;
	width: 45%;
}

.full {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.full h1 {
	margin-bottom: 35px;
	text-align: center;
}

.full p:first-child {
	margin-top: 20px;
}

.case-study__nav {
	padding-top: 70px;
	width: 100%;
}
.case-study__nav h3:first-child {
	float: left;
	margin-left: 30px;
}

.case-study__nav h3:nth-child(2) {
	float: right;
	margin-right: 30px;
}

.case-study__nav h3:nth-child(3) {
	display: none;
}


/*
***********************
	 ICONS
***********************
*/

.case-study-icons__trait {
	color: #F27D65;
	font-family: "Work Sans";
	font-weight: 400;
}

h2.case-study-icons__trait {
	font-size: 28px;
}



/*
***********************
	 ABOUT
***********************
*/

.intro__text .about {
	text-align: center;
}

.intro__text p.about {
	margin-bottom: 40px;
}

.about__body {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 1.9;
}


/*
***********************
	 MEDIA QUERIES
***********************
*/

@media print {

	#back {
		display: none;
	}

}

@media screen and (max-width: 1050px) {

	#header, .main-work, .case-study__intro, .section__content {
		width: 700px;
	}

	.box-work--onboarding, .box-work--onboarding .box-work__image {
		width: 300px;
	}

	.full, .left, .right {
		width: 100%;
	}

	.full h1, .right {
		text-align: left;
	}

	.right {
		margin-left: 0;
		margin-bottom: 50px;
	}

	.section__content {
		margin-left: auto;
		margin-right: auto;
		overflow: visible;
	}

	.section__content > * {
		margin-left: 30px;
	}

	.main-work a:nth-child(even) .box-work {
		clear: left;
	}

	.about__body {
		width: 65%;
	}
}

@media screen and (max-width: 700px) {

	#header, .main-work, .case-study__intro, .section__content {
		width: 100%;
	}

	#header {
		background-color: #EEE;
		height: 50px;
		margin-top: 0;
	}

	#header h2:first-of-type {
		display: none;
	}

	#header h1, .box-work h2, .box-work h3 {
		margin-left: 5%;
	}

	#header h1 {
		font-size: 20px;
	}

	#header h2.about {
		clear: both;
		font-size: 14px;
		margin-top: -32px;
		margin-right: 15px;
		text-align: center;
	}

	#header h2 a:link, #header h2 a:visited {
		color: #999;
	}

	.box-work {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.box-work, .box-work__image,
	.box-work--onboarding, .box-work--onboarding .box-work__image,
	.box-work--space-organization, .box-work--space-organization .box-work__image {
		width: 100%;
	}

	.box-work h2 {
		font-size: 18px;
	}

	.full, .left, .right, .intro__text, .section__content > h1 {
		width: 90%;
		margin-left: 5%;
	}

	.intro__text > * {
		margin-left: 0;
		width: 100%;
	}

	.intro__text h1 {
		margin-bottom: 20px;
	}

	.intro__image {
		text-align: left;
		margin-left: 5%;
	}

	.case-study p, .case-study ul {
	font-size: 17px;
	}

	.case-study__nav {
		font-weight: 600;
		font-size: 28px;
		padding: 0;
	}

	.case-study__nav__text {
		display: none;
	}

	.case-study__nav h3:first-child, .case-study__nav h3:nth-child(2) {
		margin-top: -9px;
	}

	.case-study__nav h3:nth-child(3) {
		font-size: 20px;
		display: inherit;
		margin-top: 50px;
		text-align: center;
	}

	.intro__text .about img {
		width: 200px;
		height: 200px;
	}

	.intro__text p.about {
		margin-bottom: 20px;
	}

	.about__body {
		width: 90%;
	}

	#footer {
		margin-top: 10px;
		height: 180px;
	}

	.social h3 {
		font-size: 16px;
	}

	.social ul {
		font-size: 30px;
	}

	.social li {
		margin-left: 12px;
		margin-right: 12px;
	}

}