/*

COLORS

Text: #3C3C3C
Gray Text: #B1B0B0
Gray Text on Gray: #999
Link: #F19650
Hover: #EFAB76
Box Gray: #EEE
Box Gray Hover: #F2F2F2

*/


html, body {
	color: #3C3C3C;
	background-color: #fcfcfc;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 400;
}

h2, h3 {
	font-weight: 300;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #F19650;
}

a:hover {
	color: #EFAB76;
	-webkit-transition: color 0.1s ease;
	-moz-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}

.em-grey_question, .em-exclamation {
	display: inline-block;
	margin-top: -6px;
}


/*
***********************
	 HEADER
***********************
*/

#header {
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
}

#header h1, #header h2 {
	margin-left: 30px;
}

#header h1 {
	font-size: 24px;
	letter-spacing: 1px;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

#header h2 {
	color: #B1B0B0;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: -6px;
}


/*
***********************
	 MAIN
***********************
*/

#main {
	margin-top: 100px;
}

.main-work {
	margin-left: auto;
	margin-right: auto;
	width: 1050px;
}

.box-work {
	float: left;
	margin: 0 25px 30px 25px;
	height: 350px;
	width: 300px;
}

.box-work__image {
	background-color: #EEE;
	background-position: center 25px;
	background-repeat: no-repeat;
	border-radius: 3px;
	overflow: hidden;
	text-align: center;
	height: 250px;
	width: 300px;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

.box-work__image img {
	margin-top: 25px;
}

.long, .long .box-work__image {
	width: 650px;
}

.box-work h2 {
	font-size: 16px;
	font-weight: 400;
	margin-left: 5px;
	margin-top: 23px;
	-webkit-transition: color 0.1s ease;
	-moz-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}

.box-work h3 {
	color: #B1B0B0;
	font-size: 16px;
	margin-left: 5px;
	margin-top: -7px;
}

/*
***********************
	 WORK
***********************
*/

.box-work--mobile img {
	margin-top: 8px;
}

.box-work--art-direction img {
	box-shadow: none;
}

.box-work--icons img {
	box-shadow: none;
	margin-top: 43px;
}


/*
***********************
	 FOOTER
***********************
*/

#footer {
	background-color: #EEE;
	float: left;
	height: 150px;
	margin-top: 70px;
	width: 100%;
	text-align: center;
}

.social {
	margin-top: 50px;
}

.social h3 {
	color: #999;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.social ul {
	list-style-type: none;
	padding: 0;
}

.social li {
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px;
	-webkit-transition: color 0.1s ease;
	-moz-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}



/*
***********************
	 CASE STUDIES
***********************
*/

.case-study {
	margin-left: 30px;
}

.case-study h1 {
	font-size: 24px;
}

.case-study h2 {
	font-size: 18px;
}

.intro > * {
	float: left;
}

.intro__text {
	width: 60%;
}



/*
***********************
	 MEDIA QUERIES
***********************
*/

@media print {

}

@media screen and (max-width: 1050px) {

	#header, .main-work {
		width: 700px;
	}

	.case-study {
		margin-left: inherit;
	}

	.main-work a:nth-child(even) .box-work {
		clear: left;
	}

	.box-work--onboarding, .box-work--onboarding .box-work__image {
		width: 300px;
	}
}

@media screen and (max-width: 700px) {

	#header, .main-work {
		width: 100%;
	}

	#header h1, #header h2, .box-work h2, .box-work h3 {
		margin-left: 5%;
	}

	.box-work {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}

	.box-work, .box-work__image,
	.box-work--onboarding, .box-work--onboarding .box-work__image,
	.box-work--space-organization, .box-work--space-organization .box-work__image {
		width: 100%;
	}

}