html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: "Cabin", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #777;
}

h1, h2, h3 {
	color: #333;
	font-weight: bold;
}

h1 {
	font-size: 64px;
	line-height: 85px;
}

h2 {
	font-size: 48px;
	line-height: 65px;
}

h3 {
	font-size: 36px;
	line-height: 50px;
}

p {
	font-size: 30px;
	line-height: 46px;
}

.header {
	height: 32px;
	padding-top: 14px;
	padding-bottom: 14px;
	width: 100%;
	border-bottom: 1px solid #efefef;
}

.header .name {
	font-size: 20px;
	font-size: bold;
	color: #777;
	line-height: 32px;
}

.section {
	width: 100%;
}

.section:nth-child(even) {
	background-color: #f6f6f6;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
.section .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.title h1 {
	line-height: 600px;
}