html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fcfcfc;
	font-family: "Cabin", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #666;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3 {
	color: #333;
}

h1 {
	font-size: 64px;
	line-height: 85px;
}

h2 {
	font-size: 48px;
	line-height: 65px;
}

h3 {
	font-size: 36px;
	line-height: 50px;
}

p {
	font-size: 30px;
	line-height: 46px;
}

ol {
	font-size: 24px;
	line-height: 40px;
	margin-left: 40px;
}

a:link {
	color: #4A90E2;
	text-decoration: none;
}

a:visited {
	color: #0F4583;
	text-decoration: none;
}

a:hover {
	color: #CA403A;
}

a:active {
	position: relative;
	margin-top: 1px;
}

.header {
	/*height: 32px;*/
	padding-top: 14px;
	padding-bottom: 14px;
	width: 100%;
	border-bottom: 1px solid #efefef;
}

h1.name {
	font-size: 20px;
	line-height: 32px;
	margin: 0;
}

h1.name a {
	color: #777;
	text-decoration: none;
	padding: 6px 10px;
	border-radius: 4px;
	margin-left: -10px;
}

h1.name a:hover {
	background-color: #efefef;
}

.section {
	width: 100%;
}

.section:nth-child(even) {
	background-color: #f6f6f6;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.title h1 {
	letter-spacing: 1.3px;
	line-height: 600px;
}

ul.logos {
	list-style-type: none;
	margin: 0 -15px 0 -15px;
	padding-left: 0;
}

ul.logos li {
	float: left;
	margin: 0 15px 0 15px;
	position: relative;
	height: 125px;
}

ul.logos li img {
	width: 125px;
	height: 125px;
}

ul.logos li::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 127px;
	height: 127px;
	background: url('projects/clementine-onboarding/mask175_2x.png') 0 0 no-repeat;
	background-size: 125px 125px;
}


/*
PROJECT-SPECIFIC
*/

.clementine {
	background-color: #F27D65;
}

.clementine h1 {
	color: #fff;
}